@import 'westwood.min.css';

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.knockout-description {
  font-size: 2rem;
}

.mt-1 {
  margin-top: 1rem;
  overflow-wrap: break-word;
}

.mt-2 {
  margin-top: 2rem;
}

.row.same-height-grid {
  row-gap: 2rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.card {
  height: 100%;
}

.assignee-image {
  border-radius: 50%;
  overflow:  hidden;
  width: 30px;
  height: 30px;
}

/* this overrides a child div's display, which is useful for nullifying next/image's wrapper */
.force-child-display-block > div {
  display: block !important;
}

.spaced-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* overriding the WestwoodCSS default */
.navbar-link a {
  padding-left: 1em !important;
}

.navbar-link > button {
  margin-left: 1em;
}

.dev-language-badge {
  width: 1em;
  height: 1em;
  display: inline-block;
  border-radius: 100px;
  position: relative;
  top: 0.125em;
  margin-right: 0.25em;
  background-color: black;
}

.dev-language-badge.lang-js {
  background-color: #EFDF6A;
}

.dev-language-badge.lang-ts {
  background-color: #2B7489;
}

.dev-language-badge.lang-scss {
  background-color: #C6538C;
}

.dev-language-badge.lang-go {
  background-color: #4AABD5;
}

.dev-language-badge.lang-html {
  background-color: #D35A31;
}

.dev-language-badge.lang-rust {
  background-color: #DEA584;
}

.vertically-aligned-row {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.vertically-aligned-row > * {
  align-items: center;
  align-content: center;
}

.gfi-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  text-align: center;
  vertical-align: top;
  text-align: center;
}

.gfi-title > h3 {
  margin: 0
}

.gfi-image {
  width: 75px;
  height: 75px;
}

.gfi-button {
  background-color: #1E6CFF;
  color: white;
}

.gfi-button-displayed {
  color: #1E6CFF;
  background-color: rgb(244, 244, 244);
}

.comment-icon {
  margin-right: 5px;
}

dl * {
  display: inline;
  margin: 0;
}

.action {
  font-weight: bold;
  color: black;
  font-size: 36px;
}